@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

html.dark {
	background-color: var(--vp-c-bg);
}

.vp-code-group > .blocks {
 max-height: 500px;
 overflow: auto;
}
