@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

html.dark {
  background-color: var(--vp-c-bg);
}

.vp-code {
  max-height: 500px;
  overflow: auto;
}

.api-request ~ .api-result {
  margin-top: 36px;
  border-top: 1px solid var(--vp-c-divider);
}
